<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taiwan Vegetarian Map</title>
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="../style.css" />
    <style>
      .announce {
        font-size: 10vw;
      }
    </style>
  </head>
  <body id="about_body">
    <header>
      <h1>
        <a href="index.html"
          ><img
            src="images/twn_vege_map.svg"
            alt="Taiwan Vegetarian Map"
            id="logo"
        /></a>
      </h1>
      <p>Hunt you the best vegetarian restaurants.</p>
      <nav>
        <a href="about.html">About</a>
        <a href="explore.html">Explore</a>
        <a href="contact.html">Contact</a>
        <a href="blog.html">Blog</a>
      </nav>
    </header>
    <main id="about_main" class="fullMain">
      <section>
        <h2 class="narrowMain">About us</h2>
        <p class="narrowMain">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          aspernatur ut, dolore iusto impedit ipsam velit magni, molestias
          labore quos minima excepturi natus. Quo consequatur esse dolorum quae,
          laudantium eos!
        </p>
      </section>
      <section>
        <h2 class="narrowMain">Our goal</h2>
        <p class="narrowMain">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
          molestiae quas, illum eligendi maiores nostrum nihil incidunt eius
          obcaecati vero iure rerum cum ea repudiandae id ab qui excepturi
          earum?
        </p>
      </section>
      <section>
        <h2 class="narrowMain">What we do?</h2>
        <p class="narrowMain">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          provident, rem velit quidem quisquam possimus temporibus iusto
          voluptatem dolorem vero numquam, cumque, minima minus. Architecto
          ipsum facilis deleniti enim esse.
        </p>
      </section>
      <section>
        <h2 class="narrowMain">Who are we?</h2>
        <div class="narrowMain flexbox">
          <div class="imgBox">
            <img src="images/tina_avatar.jfif" alt="" width="300" />
          </div>
          <div class="imgBox">
            <img src="images/ting_avatar.jpg" alt="" width="300" />
          </div>
        </div>
        <p class="narrowMain">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="flexbox">
          <a href="contact.html" class="btn center">Contact Us</a>
        </div>
      </section>
    </main>
    <footer>
      <p>Tina & Ting Copyrights information</p>
    </footer>
  </body>
</html>
