<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taiwan Vegetarian Map</title>
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="index.html"
          ><img
            src="images/twn_vege_map.svg"
            alt="Taiwan Vegetarian Map"
            id="logo"
        /></a>
      </h1>
      <p>Hunt you the best vegetarian restaurants.</p>
      <nav>
        <a href="about.html">About</a>
        <a href="explore.html">Explore</a>
        <a href="contact.html">Contact</a>
        <a href="blog.html">Blog</a>
      </nav>
    </header>
    <main class="narrowMain" id="contactMain">
      <h2>Contact us</h2>
      <form action="formhandler.html" method="get">
        <label for="requestType">Purpose of contact</label>
        <select name="requestType" id="requestType" required>
          <option value="" disabled selected>--Please select one--</option>
          <option value="error">error report</option>
          <option value="coop">cooperation request</option>
          <option value="newShop">add a new restaurant</option>
          <option value="other">other</option>
        </select>
        <div class="flexbox">
          <label for="name">Your name</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="flexbox">
          <label for="email">Your email</label>
          <input type="email" name="email" id="email" required />
        </div>
        <fieldset id="formNewShop" class="hidden">
          <legend>Restaurant info</legend>
          <div class="flexbox">
            <label for="rName">Restaurant Name</label>
            <input type="text" name="rName" id="rName" />
          </div>
          <div class="flexbox">
            <label for="rAddress">Restaurant Address</label>
            <input type="text" name="rAddress" id="rAddress" />
            <label for="rTel">Restaurant Phone Number</label>
            <input type="tel" name="rTel" id="rTel" />
          </div>
          <div class="flexbox">
            <label for="rLink">Restaurant Website</label>
            <input type="text" name="rLink" id="rLink" />
          </div>
          <label for="rDiet">Diet Type</label>
          <div class="flexbox">
            <input type="checkbox" name="rDiet" id="vegan" />
            <label for="">Vegan</label>
            <input type="checkbox" name="rDiet" id="buddhistVegan" />
            <label for="">Buddhist Vegan</label>
            <input type="checkbox" name="rDiet" id="vegetarian" />
            <label for="">Vegetarian</label>
          </div>

          <label for="menuType">Menu Type</label>
          <div class="flexbox" id="menuTypeCheckbox">
            <input type="radio" name="menuType" id="menu-tw" />
            <label for="menu-tw">Taiwanese</label>
            <input type="radio" name="menuType" id="menu-cn" />
            <label for="menu-cn">Chinese</label>
            <input type="radio" name="menuType" id="menu-jp" />
            <label for="menu-jp">Japanese</label>
            <input type="radio" name="menuType" id="menu-th" />
            <label for="menu-th">Thai</label>
            <input type="radio" name="menuType" id="menu-vt" />
            <label for="menu-vt">Viet</label>
            <input type="radio" name="menuType" id="menu-fr" />
            <label for="menu-fr">Franch</label>
            <input type="radio" name="menuType" id="menu-id" />
            <label for="menu-id">Indian</label>
            <input type="radio" name="menuType" id="menu-other" />
            <label for="menu-other">Other(Please specify)</label>
            <input type="text" name="" id="" />
          </div>
          <label for="r-hour">Business Hours</label>
          <label for="r-hour-m">Monday</label>
          <div class="flexbox">
            <fieldset>
              <legend>Start time</legend>
              <input
                type="time"
                name="r-hour-m"
                id="r-hour-m-s"
                value="11:00"
              />
            </fieldset>
            <fieldset>
              <legend>End time</legend>
              <input
                type="time"
                name="r-hour-m"
                id="r-hour-m-e"
                value="21:00"
              />
            </fieldset>
            <input type="checkbox" name="hours-off" id="hours-off-m" />
            <label for="hours-off-m">Not open</label>
          </div>
          <label for="r-hour-tu">Tuesday</label>
          <div class="flexbox">
            <fieldset>
              <legend>Start time</legend>
              <input
                type="time"
                name="r-hour-tu"
                id="r-hour-tu-s"
                value="11:00"
              />
            </fieldset>
            <fieldset>
              <legend>End time</legend>
              <input
                type="time"
                name="r-hour-tu"
                id="r-hour-tu-e"
                value="21:00"
              />
            </fieldset>
            <input type="checkbox" name="hours-off" id="hours-off-tu" />
            <label for="hours-off-tu">Not open</label>
          </div>
          <label for="r-hour-w">Wednesday</label>
          <div class="flexbox">
            <fieldset>
              <legend>Start time</legend>
              <input
                type="time"
                name="r-hour-w"
                id="r-hour-w-s"
                value="11:00"
              />
            </fieldset>
            <fieldset>
              <legend>End time</legend>
              <input
                type="time"
                name="r-hour-w"
                id="r-hour-w-e"
                value="21:00"
              />
            </fieldset>
            <input type="checkbox" name="hours-off" id="hours-off-w" />
            <label for="hours-off-w">Not open</label>
          </div>
          <label for="r-hour-th">Thursday</label>
          <div class="flexbox">
            <fieldset>
              <legend>Start time</legend>
              <input
                type="time"
                name="r-hour-th"
                id="r-hour-th-s"
                value="11:00"
              />
            </fieldset>
            <fieldset>
              <legend>End time</legend>
              <input
                type="time"
                name="r-hour-th"
                id="r-hour-th-e"
                value="21:00"
              />
            </fieldset>
            <input type="checkbox" name="hours-off" id="hours-off-th" />
            <label for="hours-off-th">Not open</label>
          </div>
          <label for="r-hour-f">Friday</label>
          <div class="flexbox">
            <fieldset>
              <legend>Start time</legend>
              <input
                type="time"
                name="r-hour-f"
                id="r-hour-f-s"
                value="11:00"
              />
            </fieldset>
            <fieldset>
              <legend>End time</legend>
              <input
                type="time"
                name="r-hour-f"
                id="r-hour-f-e"
                value="21:00"
              />
            </fieldset>
            <input type="checkbox" name="hours-off" id="hours-off-f" />
            <label for="hours-off-f">Not open</label>
          </div>
          <label for="r-hour-sa">Saturday</label>
          <div class="flexbox">
            <fieldset>
              <legend>Start time</legend>
              <input
                type="time"
                name="r-hour-sa"
                id="r-hour-sa-s"
                value="11:00"
              />
            </fieldset>
            <fieldset>
              <legend>End time</legend>
              <input
                type="time"
                name="r-hour-sa"
                id="r-hour-sa-e"
                value="21:00"
              />
            </fieldset>
            <input type="checkbox" name="hours-off" id="hours-off-sa" />
            <label for="hours-off-sa">Not open</label>
          </div>
          <label for="r-hour-su">Sunday</label>
          <div class="flexbox">
            <fieldset>
              <legend>Start time</legend>
              <input
                type="time"
                name="r-hour-su"
                id="r-hour-su-s"
                value="11:00"
              />
            </fieldset>
            <fieldset>
              <legend>End time</legend>
              <input
                type="time"
                name="r-hour-su"
                id="r-hour-su-e"
                value="21:00"
              />
            </fieldset>
            <input type="checkbox" name="hours-off" id="hours-off-su" />
            <label for="hours-off-su">Not open</label>
          </div>
          <div class="flexbox">
            <label for="transport">Transportation</label>
            <input type="text" name="transport" id="transport" />
          </div>
          <div class="flexbox">
            <label for="lang">Service/Menu Language</label>
            <select name="lang" id="lang">
              <option value="" disabled selected>--Please select one--</option>
              <option value="ch-md">Mandarin</option>
              <option value="ch-md+en">Mandarin/English</option>
              <option value="ch-md+jp">Mandarin/Japanese</option>
              <option value="ch-md+en+jp">Mandarin/English/Japanese</option>
            </select>
          </div>
          <div class="flexbox">
            <label for="rFile">Image Upload</label>
            <input type="file" name="rFile" id="rFile" />
          </div>
        </fieldset>
        <label for="detail">Inquery</label>
        <textarea name="detail" id="detail" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit" class="btn" />
      </form>
    </main>
    <footer>
      <p>Tina & Ting Copyrights information</p>
    </footer>
    <script src="../static/formhandle.js"></script>
  </body>
</html>
