<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taiwan Vegetarian Map</title>
    <link
      href="{{ url_for('route_assets', filename='favicon.ico') }}"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('route_static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>
        <a href="index.html"
          ><img
            src="images/twn_vege_map.svg"
            alt="Taiwan Vegetarian Map"
            id="logo"
        /></a>
      </h1>
      <p>Hunt you the best vegetarian restaurants.</p>
      <nav>
        <a href="about.html">About</a>
        <a href="explore.html">Explore</a>
        <a href="contact.html">Contact</a>
        <a href="blog.html">Blog</a>
      </nav>
    </header>
    <main id="formMain" class="narrowMain">
      <h2>Contact</h2>
      <div class="flexbox">
        <h3>Thank you for your feedback!</h3>
        <p>Redirect to home page in seconds...</p>
      </div>
    </main>
    <footer>
      <p>Tina & Ting Copyrights information</p>
    </footer>
    <script>
      setTimeout(redirect, 3000);
      function redirect() {
        window.location.replace("index.html");
      }
    </script>
  </body>
</html>
