@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
  box-sizing: border-box;
}
:root{
  --primary : #3c6e71;
  --secondary: #70ae6e;
  --dark:#483c46;
  --white: #fff;
}
html,
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#about_body{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.6)),url(images/about_bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
header,
footer {
  background-color: var(--primary);
  text-align: center;
  color: var(--white);
  padding: .5em;
}
h1 {
  display: block;
  width: 100%;
  max-width: 15ch;
  margin: 1vw auto;
  padding: 0;
}
h2{
  font-weight: 200;
  font-size: clamp(1.5rem, 3vw, 4rem); ;
}
#citymapMain h2, #info h3{
  color: var(--primary);
}
#homeDescription h2{
  color: var(--white);
}
h3 {
  margin: 0 auto;
  /* color: var(--primary); */
  font-weight: 700;
}
header p {
  font-size: smaller;
}
a {
  text-decoration: none;
  margin: 1em;
  cursor: pointer;
  color: unset;
}
nav a {
  color: var(--white);
}
h1 a {
  margin: 0;
}

main {
  width: 100%;
}
form{
  padding: 1rem;
}
label{
  margin: 1rem 1rem .5rem 0 ;
}
input{
  margin-right: .5rem;
  padding: .2rem;
}
input[type=text]:focus,input[type=email]:focus,input[type=tel]:focus{
  outline: solid 1px var(--primary);
}
textarea{
  width: 100%;
  height: 6em;
}
.narrowMain{
  max-width: 80vw;
  margin: 0 auto;
}
#map {
  width: 100%;
  max-width: 50ch;
  margin: 0 auto;
  padding-bottom: 3em;
}

#map path {
  fill: var(--secondary);
  stroke: #fff;
  stroke-width: 4px;
  transition: fill 0.5s;
}
#map path:hover {
  fill: var(--dark) !important;
}
#home-main{
  flex-direction: row-reverse;
  max-width: none;
}
#about_main section:nth-of-type(odd){
  color: var(--white);
}
#about_main section:nth-of-type(even){
  background-color: var(--white);
  color: var(--dark) !important;
}
#about_main .narrowMain{
  padding: 1rem 4rem;
}
#about_main section{
  padding: 2rem 0;
}
.container_half{
  width: 100%;
  max-width: 50vw;
  justify-content: center !important;
  background-color: var(--dark);
  padding: 2rem;
  align-self: normal;
}

#info {
  display: none;
  width: 100%;
  max-width: 50vw;
  padding: 2em;
  background-color:var(--white);

}
ul {
  padding-left: 0;
}
li {
  list-style: none;
  margin: 0.5rem;
}

#filterbox {
  border: solid 2px var(--primary);
  transition: ease-in-out 0.5s;
  padding: 1rem;
}
.hidden {
  display: none;
}
.open {
  display: block;
}

.toggle {
  position: absolute;
  right: 30%;
}

#toggleFilter input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -2;
  border: none;
  outline: none;
}
#toggleFilter label {
  width: 60px;
  height: 24px;
  border-radius: 50px;
  background-color: var(--white);
  position: absolute;
  border: solid 1px var(--primary);
  cursor: pointer;
  top: 0;
  left: 0;
  transition: fill 0.2s ease-in-out;
}
#toggleFilter label:after {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--white);
  position: absolute;
  top: 0px;
  left: 1px;
  border: solid 1.5px var(--primary);
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#toggleFilter input[type="checkbox"]:checked + label::after {
  left: 34px;
}
#toggleFilter input[type="checkbox"]:checked + label {
  background-color: var(--secondary);
}

#mapContainer {
  width: 100%;
  /* temporay height */
  height: 50vh;
  background-color: var(--dark);
}

#restaurantList img {
  width: 10ch;
  /* temporay height */
  height: 10ch;
  background-color: var(--dark);
}
#restaurantList li{
  display: flex;
  margin: 0;
}
#restaurantList li:nth-child(odd) {
  background-color: var(--primary);
  color: var(--white);
}
#restaurantList li:nth-child(even) {
  background-color: var(--white);
  color: black;
  border: solid 2px var(--primary);
}
/* .restaurantName */
.restaurantElem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

  padding: 2rem 1rem;
}
.restaurantElem h4,
.restaurantElem p,
.restaurantElem address {
  margin: .2rem 0;
}
.restaurantInfo {
  display: block;
  padding: 0 2rem;
}
.restaurantName{
  grid-column: span 2;
  justify-self: start;
}

.imgBox{
  height: inherit;
  width: 100%;
  /* max-width: 30ch; */
  max-width: clamp(20rem, 5vw, 30rem);;
  background-size: cover;
  background-repeat: no-repeat;
}
.imgBox img{
  width: 100%;
  height: auto;
}
#about_main .imgBox{
  margin: 1rem;
}
.flexbox{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}


/* embeded map */
.mapouter{
  position:relative;
  text-align:right;
  height:100%;
  width:100%;
}
.gmap_canvas {
  overflow:hidden;background:none!important;height:100%;
  width:100%;
}
.btn,.tab{
  padding: .8rem 3rem;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn:hover,.tab:hover{
  background-color: var(--dark);
}

/* media queries */
@media only screen and (max-height: 850px){
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h1{
    margin: unset;
  }
  header p{
    margin: 0 auto .5rem 1rem;
  }
  #about_main .narrowMain{
    padding: 1rem;
  }


}

@media only screen and (max-width: 600px){
  header,#restaurantList li, .flexbox{
    flex-direction: column;
  }
  header p{
    margin: 0 auto;
  }
  #home-main{
    flex-direction: column-reverse;
  }
  .restaurantName{
    grid-column: 1fr;
  }
  .container_half{
    max-width: none;
  }
  .restaurantElem{
    display: block;
  }
  /* #restaurantList li{
    display: block;
  } */
  .imgBox{
    height: 30ch;
    max-width: none;
  }
  
}
